<html>
<head>
  <title>Wows</title>
</head>
<body>
<div class="container-fluid  submenu-bg">
    <div [ngClass]="{'fixed-top':indicator,'submenu':indicator,'height-submenu':indicator,'mt-5':indicator}" class="combined-search  submenu-bg" >
   <div class="container mt-2">
    <form class="form-inline pull-left playerSearch submenu-bg">


<div class="input-group">

  		<span (click)="searchSelectedValue('player')" [ngClass]="{'selectedInput':selected==='player'}" class="input-group-addon">
  			<i aria-hidden="true" class="fa fa-user"></i>
  			<span>Player</span>
  		</span>
  		<span (click)="searchSelectedValue('clan')" [ngClass]="{'selectedInput':selected==='clan'}" class="input-group-addon">
  			<i aria-hidden="true" class="fa fa-users"></i>
  			<span class="">Clan</span>
  		</span>
  		<span (click)="searchSelectedValue('warship')" [ngClass]="{'selectedInput':selected==='warship'}" class="input-group-addon">
  			<i aria-hidden="true" class="fa fa-ship"></i><span class="">Warship</span>
  		</span>
   <input (ngModelChange)="searchFunc($event)" [ngModel]="search"
          [placeholder]="placeHolder" class="search-box" name="search" title="Search for stock information"/>

<div (click)="testFunc()" *ngIf="searchTickers.length && show" class="stock-search-result">
    <div *ngFor="let player of searchTickers" class="search-result-item">

      <div class="search-result-name">
       <strong> <a routerLink="/detail/{{player.id}}">
        {{player.name}}
      </a></strong>
      </div>
    </div>
  </div>
  		<span class="input-group-btn">
			<button (click)="searchName()" class="btn btn-default" type="submit">Search</button>
		</span>
</div>
</form>
</div>
</div>
  </div>
</body>
</html>
