<html>
<head>
  <title>Wows</title>
</head>
<body>
<div class="container text-center footerFixed">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      © wows-numbers.com. All rights reserved | © Wargaming.net. All rights reserved
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
     This is application is a third-party tool under Wargaming Developers Partner Program.
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <a href="">World of Warships Official Website </a>| <a href="">WG Customer Support Center</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>Author: <a href="">Wiochi</a> © <a href="">contact@wows-numbers.com</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <button type="button" class="btn btn-danger">Support & Donate</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>API access consent: <span class="label-danger">No</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>We use cookies!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p><a href="">WoT Stats</a> | <a href="">WoT Leaderboard</a> |<a href=""> WoT Clans</a> | <a href="">WoT Players</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p><a href="">DIY World</a></p>
    </div>
  </div>
</div>
</body>
</html>
