<html>
<head>
  <title>Wows</title>
</head>
<body>
<div class="container text-center">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>© wows-numbers.com. All rights reserved | © Wargaming.net. All rights reserved</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>This is application is a third-party tool under Wargaming Developers Partner Program.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>World of Warships Official Website | WG Customer Support Center</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>Author: Wiochi © contact@wows-numbers.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <button type="button" class="btn btn-danger">Support & Donate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>API access consent: <span class="bg-danger">No</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>We use cookies!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>WoT Stats | WoT Leaderboard | WoT Clans | WoT Players</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <p>DIY World</p>
    </div>
  </div>
</div>
</body>
</html>
