<html>
<head></head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center border-bottom">
            <h1>News</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul>
              <li *ngFor="let item of data, let i = index">
               <strong>{{item.date}}</strong> {{' ' + item.description}}
              </li>
            </ul>
          </div>
      </div>
    </div>
</body>
</html>
