<html>
<head></head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
             <h3 class=" section-header">News</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div *ngFor="let item of data, let i = index" class="mb-1">
               <strong>{{item.date}}</strong> {{' ' + item.description}}
              </div>
          </div>
      </div>
    </div>
</body>
</html>
