<html>
<head></head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
            <h3 class=" section-header"> Recent events</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="section-border"></div>
        </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
         Follow other players to see recent events from their games. Friends? Best players? Why not!
         </div>
      </div>
      <br/>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <strong>How to start?</strong>
         </div>
      </div>
      <br/>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>1. Search for player.</p>
           <br/>
           <app-sub-header [indicator]="false"></app-sub-header>
         </div>
      </div>
      <br/>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>2. Follow him.</p>
         </div>
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 <h3 class="section-header float-left">Wiochi</h3>
                <button class="btn btn-default float-right">
                  <i class="fa fa-binoculars "></i> Follow</button>
              </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="section-border"></div>
        </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>3. Wait some time.</p>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <a href="">more</a>
         </div>
      </div>
    </div>
</body>
</html>
