<html>
<head></head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
            <h3 class=" section-header"> Recent events</h3>
          </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
         <p>Follow other players to see recent events from their games. Friends? Best players? Why not!</p>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
         <h4 class="font-weight-bold">How to start?</h4>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>1. Search for player.</p>
           <app-sub-header></app-sub-header>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>2. Follow him.</p>
         </div>
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 <h3 class="section-header">Wiochi</h3>
<!--                <button class="btn btn-success ">Follow</button>-->
              </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <p>3. Wait some time.</p>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           <a>more</a>
         </div>
      </div>
    </div>
</body>
</html>
